@font-face {
    font-family: "NotoSansKR";
    src: url(../fonts/NotoSansKR-Regular-Hestia.woff);
    font-weight: 400;
}
@font-face {
    font-family: "NotoSansKR";
    src: url(../fonts/NotoSansKR-Bold-Hestia.woff);
    font-weight: 700;
}